.ctnTrend {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-auto-flow: row dense;
  gap: 16px;
  padding-top: 20px;
}

.cardMainTrend {
  grid-column: 1 / span 2;
  grid-row: span 2;
  height: 100%;

  >* {
    height: 100%;
  }
}

.cardNormalItem {
  height: 100%;

  >* {
    height: 100%;
  }
}

@media (max-width: 1023px) {
  .ctnTrend {
    padding: 0px 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-auto-flow: row;
  }

  .cardMainTrend {
    grid-column: 1 / span 2;
    grid-row: auto;
    height: auto;
  }
}

@media (max-width: 480px) {
  .ctnTrend {
    padding: 0px 24px;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
  }

  .cardMainTrend {
    grid-column: 1;
    height: auto;
  }
}