.slideC {
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  width: 362px;
  height: 371px;
  margin: 0 auto;
}


.slide {
  width: 362px;
  height: 371px;
  position: absolute;
  top: 0;
  border-radius: 15px;
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  background: #000;
  transition: transform 500ms ease, opacity 500ms ease;
}


.reflection {
  position: absolute;
  width: 100%;
  height: 60px;
  bottom: -60px;
  border-radius: 12px;
  filter: blur(2px);
  transition: transform 500ms ease, opacity 500ms ease;
}


.btns {
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 20;
  pointer-events: none;
}

.btns .btn {
  pointer-events: auto;
  cursor: pointer;
  font-size: 28px;
  color: #fff;
  background: rgba(207, 207, 207, 0.35);
  padding: 12px;
  border-radius: 50%;
  backdrop-filter: blur(6px);
  transition: all 0.25s ease;
}

.btns .btn:hover {
  background: rgba(149, 149, 149, 0.5);
  transform: scale(1.1);
}

