.custom-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    display: flex;
    flex-direction: row;

    li {
      margin-right: 20px;

      a {
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-family: "Baloo 2", cursive;
        font-size: 20px;
      }

      &:hover a {
        color: rgba(255, 0, 115, 0.8);
      }

      &.active a {
        color: var(--pinkGlobal);
      }
    }
  }

  &__hamburger {
    display: none;
    font-size: 18px;
  }

  @media screen and (max-width: 768px) {
    .desktopMenu {
      display: none;
    }

    &__list {
      flex-direction: column;
      gap: 15px;

      li {
        a {
          color: rgb(0, 0, 0);
        }
      }
    }

    &__hamburger {
      display: block;
    }
  }
}