$pill-radius: 999px;
$pill-height: 44px;
$overlap: 20px;

.pill-search {
  max-width: 100%;
  @media screen and (min-width: 767px) {
    width: 500px;
  }
  margin: 0 auto;

  &__box {
    position: relative;
  }

  &__input {
    position: relative;
    z-index: 4;

    display: flex;
    align-items: center;
    gap: 8px;

    height: $pill-height;
    padding: 0 18px;

    background: black;
    border-radius: $pill-radius;
    border: 2px solid var(--pinkGlobal);

  }

  &__icon {
    font-size: 16px;
    color: #999;
  }

  input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: #8b8b90;
  }


  &__suggest {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - $overlap);

    z-index: 3;
    overflow: hidden;

    border: 2px solid var(--pinkGlobal);
    border-radius: 0 0 24px 24px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    background-color: black;

    max-height: 0;
    opacity: 0;
    transform: translateY(-4px);
    pointer-events: none;

    transition:
      max-height 0.3s ease,
      opacity 0.25s ease,
      transform 0.25s ease;

    &.is-visible {
      max-height: 260px;
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }


    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 14px;
      right: 14px;
      height: $overlap;

      background: black;
      border-radius: 0 0 $pill-radius $pill-radius;
    }
  }

  &__item {
    position: relative;
    padding: 12px 18px;
    font-size: 14px;
    cursor: pointer;
    color: #8b8b90;

    &:hover {
      background: rgb(29, 29, 29);
    }

    &:first-child {
      padding-top: calc(12px + $overlap);
    }
  }
}