@import './custom/menu.scss';
@import './custom/background.scss';
@import './custom/card.scss';
@import './custom/search.scss';
@import './custom/cardNormal.scss';
@import './custom/link.scss';
@import './custom/btn.scss';
@import './custom/contentInDrawer.scss';



@import './main-layout.scss';
@import './footer.scss';


@import './page/trangChu/slide1.scss';
@import './page/trangChu/slide2.scss';
@import './page/trangChu/slide3.scss';
@import './page/dongGop.scss';


@import './page/taoAnh/imgPrompt.scss';

@import './page/trend/cardMain.scss';
@import './page/trend/index.scss';