.slide-2 {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;

    >h2 {
        text-align: center;
        background: linear-gradient(135deg, var(--pinkGlobal) 0%, #ff6b9d 50%, var(--pinkGlobal) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        position: relative;
        display: inline-block;
        font-size: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

.slide-2-mobile {
    display: none;
}

@media screen and (max-width: 1023px) {
    .slide-2-desktop {
        display: none;
    }

    .slide-2-mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        padding: 0px 24px;
        @media (max-width: 600px) {
            display: flex;
            flex-direction: column;
        }
    }

}