.img-prompt__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    @media (max-width: 639px) {
        flex-direction: column;
        align-items: flex-start;
    }
}


.img-prompt__header > p {
    order: 1;

    @media (max-width: 639px) {
        order: 2;
        margin-left: 5px;
    }
}


.img-prompt__header > div {
    order: 2;

    @media (max-width: 639px) {
        order: 1;
        width: 100%;
    }
}

.linkChiTiet{
    display: flex;
    justify-content: end;
    color: var(--pinkGlobal);
    align-items: center;
}
.img-prompt__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    margin-top: 20px;

    @media (max-width: 1023px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 639px) {
        grid-template-columns: 1fr;
    }
}

.img-prompt{
    margin-top: 20px;
    @media screen and (max-width: 1024px) {
        margin-top: 0px;
        padding: 24px;
        padding-top: 0px;
    }
}